manifest {
    mainScript = 'gwas-qc.nf'
}

params {
    mapped = null
    bedbimfam = null

    output = null
    // imiss het criteria
    gfr = null
    hetrsdinterval = null
    // default,0.03,3.0 for reproduce paper
}


process {
    withName: convertBedBimFam {
        container = 'sinonkt/plink'
		cpus = 1
		memory = '2 GB'
    }

    withName: checkSexDiscordance { 
        container = 'sinonkt/plink'
		cpus = 1
		memory = '2 GB'
    }

    withName: imissHet { 
        container = 'sinonkt/plink'
		cpus = 1
		memory = '2 GB'
    }
}

profiles {
  standard {
      process.executor = 'local'
  }
}

singularity {
    enabled = true
}